[submodule "lib/jdksmidi"]
	path = lib/jdksmidi
	url = https://github.com/shunonymous/jdksmidi
	branch = experimental3
[submodule "lib/dlldr"]
	path = lib/dlldr
	url = https://github.com/shunonymous/dlldr
