[submodule "include/DynamicLoader"]
	path = include/DynamicLoader
	url = https://github.com/shunonymous/DynamicLoader
[submodule "lib/jdksmidi"]
	path = lib/jdksmidi
	url = https://github.com/shunonymous/jdksmidi
	branch = experimental3
